/* 
    Name: _base
    Descr: body and html styles
*/
body{
    background: var(--light-gray);
    
}
html{
    font-family: var(--sans);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}