/* 
    Name: _footer
    Descr: footer styles
*/
footer{
    border-radius: var(--border-radius);
    border-top: 1px solid var(--light-gray);
    ul{
        max-width: var(--main-max-width);
        margin: 0 auto;
        padding: 3rem 0;
    }
}