/* 
    Name: _gallery
    Descr: Styles the main page gallery
*/

.gallery{
    width: 120%;
    margin-left: -10%;
    figure{
        margin-bottom: 3rem;
        border-bottom: 2px solid var(--teal);
    }
    figcaption{
        padding:2rem;
        background: var(--light-gray);
        border-radius: var(--border-radius)
    }
}

.mini-gallery{
    width: 120%;
    margin-left: -10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        flex: 0 0 30%;
    }
}