/* 
    Name: _headings
    Descr: Style all headings in the website
*/

.siteTitle{
    width: 250px;
    height: 250px;
    background: url("/images/MCW-logo.svg");
    font-size: 100px;
    //color: $bgColor;
    text-indent: -9999px;
}

.pageTitle{
    
}