/* 
    Name: _mainNav
    Descr: Styles responsive and full version of main navigaiton
*/
.mainNav{
    a{
        font-size: var(--main-nav-size);
        color: var(--black);
        margin: 0 .5rem;
        text-decoration-color: var(--light-gray);
    }
}