<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.typekit.net/vfb8yty.css">


    {% seo %}
</head>

<body>
    <div class="wrapper">
        <header>
        <h1 class="siteTitle">Marteal Cycle Works</h1>
        {% include navigation.html %}
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <ul>
                <li>
                    <a href="mailto:martealcycleworks@gmail.com">Email to get in touch</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/martealcycleworks/">Follow MCW on Instagram</a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>